<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- Configure Twitch4J logger level -->
    <logger name="com.github.twitch4j" level="INFO"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/latest.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <!-- Appender Configuration [Console] -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight([%-5level]) %logger{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender Output Configuration -->
    <root>
        <appender-ref ref="FILE" />
    </root>
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>